player-connection-mode=Connect
player-connection-guid=2969938180
player-connection-debug=1
player-connection-project-name=AMFMC
player-connection-wait-timeout=-1
player-connection-ip=192.168.175.24
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
single-instance=
build-guid=650ca53559734190a97314263c910e1d
