player-connection-mode=Listen
player-connection-guid=3304122646
player-connection-debug=0
player-connection-project-name=AMFMC
player-connection-ip=192.168.165.24
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
single-instance=
build-guid=5b8a0410db4540da9c985834e64943ac
